h1{width:100%;height:100px; background-color: aquamarine;}

.mapBox{float:right;width:100%; height:800px; background-color: antiquewhite; z-index: 1;}


#mapwrap{position:relative;overflow:hidden;}
.category, .category * {margin:0;padding:0;color:#000;}
.category {position:absolute;overflow:hidden;top:10px;left:10px;width:280px;height:70px;z-index:10;border:1px solid black;font-family:'Malgun Gothic','맑은 고딕',sans-serif;font-size:12px;text-align:center;background-color:#fff;}
.category .menu_selected {background:#FF5F4A;color:#fff;border-left:1px solid #915B2F;border-right:1px solid #915B2F;margin:0 -1px;}
.category li {list-style:none;display:inline-block;width:20%;height:45px;padding-top:5px;cursor:pointer;}
.category .icon {
    width: 100%; /* 이미지를 칸의 너비에 맞게 조정합니다. */
    height: auto; /* 이미지의 높이를 자동으로 조정하여 가로세로 비율을 유지합니다. */
}

#memo-component {
    position: absolute;
    top: 70px;
    right: 20px;
    z-index: 2;
    width: calc(25% - 20px);
    overflow-y: auto;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    box-sizing: border-box;
}

#memo-component h2 {
    margin-top: 0;
    font-size: 20px;
    color: #333;
}

#memo-component ul {
    list-style-type: none;
    padding: 0;
}

#memo-component li {
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.add-button {
    position: fixed;
    left: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #007bff;
    color: white;
    font-size: 24px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}