h1{width:100%;height:100px; background-color: aquamarine;}

.mapBox{float:right;width:100%; height:800px; background-color: antiquewhite; z-index: 1;}


.customoverlay {position:relative;bottom:85px;border-radius:6px;border: 1px solid #ccc;border-bottom:2px solid #ddd;float:left;}
.customoverlay:nth-of-type(n) {border:0; box-shadow:0px 1px 2px #888;}
.customoverlay a {display:block;text-decoration:none;color:#000;text-align:center;border-radius:6px;font-size:14px;font-weight:bold;overflow:hidden;background: #d95050;background: #d95050 url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat right 14px center;}
.customoverlay .title {display:block;text-align:center;background:#fff;margin-right:35px;padding:10px 15px;font-size:14px;font-weight:bold;}
.customoverlay:after {content:'';position:absolute;margin-left:-12px;left:50%;bottom:-12px;width:22px;height:12px;background:url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')}


#memo-component {
    position: absolute;
    top: 70px;
    right: 20px; /* 오른쪽에 위치하도록 설정 */
    z-index: 2;
    width: calc(25% - 20px);
    overflow-y: auto;
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
}

#news-component {
    position: absolute;
    top: 220px;
    right: 20px; /* 오른쪽에 위치하도록 설정 */
    z-index: 2;
    width: calc(25% - 20px);
    overflow-y: auto;
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
}

#news-component h2,
#memo-component h2 {
    margin-top: 0;
    font-size: 20px;
    color: #333;
    z-index: 3;
}

#news-component ul,
#memo-component ul {
    list-style-type: none;
    padding: 0;
    z-index: 4;
}

#news-component li,
#memo-component li {
    margin-bottom: 10px;
    z-index: 5;
}

.add-button {
    position: fixed;
    left: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #007bff; /* Bootstrap primary color */
    color: white;
    font-size: 24px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    z-index: 1000; /* Ensure it's on top */
}